<a href="https://colab.research.google.com/github/mrivaldi/Pusat_Stusi_Data_Sains/blob/main/Pengenalan_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pengenalan Python

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.

Ini adalah notebook yang disusun untuk belajar python dengan *fast mode* khusus untuk mahasiswa matematika. 

Gag susah kok, just read, understand, and write your understanding below.
Setelah teman-teman mempelajari sub bagian pada modul ini. Temen-temen silahkan membuat script dan konten video untuk youtube PSDS UAD. 

Video penjelasan modul ini akan segera dikirimkan untuk membantu temen-temen mudah dalam belajar

Semangat ya, mari kita mulai!!!

## [0] Input & Output pada Pyhton

Sebuah Program terdiri dari Input, Proses dan Output

**1. Membuat input dengan fungsi input()**

format input() :
input(*object, nilai)

Sebuah input dapat dikelola berdasarkan tipe datanya :

* input() : nilai berupa string

* str(input()) : nilai berupa string

* int(input()) : nilai berupa integer

* float(input()) : nilai berupa float

* bool(input()) : nilai berupa boolean

**2. Untuk menampilkan Output dengan fungsi print()**

format print() :
print(*object, sep=' ', end='\n', file=sys.stdout, flush=False/True)

In [ ]:
# Membuat input bertipe data string (str)
nama = input("Nama : ")
umur = input("Umur : ")
alamat = input("Alamat : ")

Nama : muhammad rival
Umur : 20
Alamat : yogyakarta

In [ ]:
print(type(nama))
print(alamat)

<class 'str'>
yogyakarta

In [ ]:
# Membuat input bertipe data integer (int)
angka = int(input())

20

In [ ]:
# Membuat input beripe data float
angka = float(input())

3.5

**2.1 Menampilkan Output cara pertama**

In [ ]:
print("Nama saya"+ " " + nama + " " + "yang berumur"+ " " + umur + " " + "dan bertempat tinggal di"+ " " + alamat)

Nama saya muhammad rival yang berumur 20 dan bertempat tinggal di yogyakarta

**2.2 Menampilkan Output cara kedua**

Menggunakan fungsi format()

**2.3 Menampilkan Output cara ketiga**

Menggunakan simbol %

* %c : mencetak karakter

* %s : mencetak data menjadi string

* %i, %d : mencetak angka desimal bertanda
* %u : mencetak angka desimal tak bertanda
* %x, %X : mencetak angka heksa dengan huruf kecil %x atau besar %X
* %f : mencetak angka real berkoma
* %e, %E : mencetak tanda eksponensial dengan huruf kecil %e atau besar %E
* %g, %G : fungsi hampir sama dengan %f dan %e hanya saja pencetakan angak di belakang koma lebih pendek

In [ ]:
print("Nama saya {} yang berumur {} dan bertempat tinggal di {}".format(nama,umur,alamat))

Nama saya muhammad rival yang berumur 20 dan bertempat tinggal di yogyakarta

In [ ]:
print("Nama saya %s yang berumur %s dan bertempat tinggal di %s" %(nama, umur, alamat))

Nama saya muhammad rival yang berumur 20 dan bertempat tinggal di yogyakarta

## [1] Variabel, Tipe Data, Dan Konversinya

### Variabel

*   Variabel merupakan tempat penyimpanan data atau nilai
*   Sebuah variabel dalam python bisa diisi dengan berbagai tipe data
*   Nama sebuah variabel tidak bisa diawali dengan angka/numerik
*   Nama sebuah variabel selain keyword dari bahasa python
*   Format variabel : Nama_variabel = data/nilai

**a.   Membuat sebuah variabel dengan berbagai tipe data Python**

In [ ]:
var1 = 'Hello World!' #String
var2 = 1234567890 # int
var3 = 0.123456789 # float
var4 = True #bool
var5 = 1j+1 #complex

Buat variabelmu sendiri di bawah ini ya!

In [ ]:
v1="angka" #string
v2=12 #integer
v3=1.4 #float
v4=True #boolean
v5=1j+3 #complex

**b. Memanggil variabel dan menampilkan**

Kamu dapat memanggil variabel hanya dengan menuliskan variabel yang sudah kamu buat di atas dan menjalankan cellnya

In [ ]:
var1

'Hello World!'

Sekarang Panggil Mantanmu, eh variabel yang sudah kamu lupakan, eh tuliskan

In [ ]:
#Memanggil variabel
v5

(3+1j)

Selain itu, kamu juga bisa mencetak, atau menampilkan variabel yang sudah kamu buat dengan cara memasukkan syntak **print(*variable*)**. Kayak begini:

In [ ]:
print(var1) #tipe data string
print(var2) #tipe data integer
print(var3) #tipe data float
print(var4) #tipe data boolean
print(var5) #tipe data Complex

Hello World!
1234567890
0.123456789
True
(1+1j)

Sekarang, tampilkan variabelmu sendiri:

In [ ]:
#Mencetak variabel punya kamuuch
print(v1) #tipe data string
print(v2) #tipe data integer
print(v3) #tipe data float
print(v4) #tipe data boolean
print(v5) #tipe data Complex

angka
12
1.4
True
(3+1j)

Oh iya btw tanda pagar **#**, itu untuk komen ya, dia berfungsi untuk membuat sebuah pernyataan ada tapi tidak dijalankan oleh program, atau seperti pernyataan yang tidak dianggap oleh python gitu, ya mirip kayak kamu, *ADA, PENTING, BERMANFAAT, tapi tidak dianggap*

### Tipe Data


**Tipe Data:**
1.   String
2.   Number (Integer, Float, Complex, Boolean)

**a. Melihat Tipe data dari variabel**

Kamu bisa ngecek tipe variabel yang udah kamu buat tipenya seperti apa, pemarah kah baperan kah, easy going or lainnya. Eh maksudnya apakah tipe data kamu adalah int, float, boolean, string, dll dengan fungsi **type(*variabel*)**, sok dicoba:

In [ ]:
type(var1)

str

sekarang coba kamu cek tipe variabel yang udah kamu buat!

In [ ]:
#Mengecek tipe variabel
#String
type(v1)
#Int
type(v2)
#Float
type(v3)
#Boolean
type(v4)
#Complex
type(v5)

complex

Kok yang tampil cuma yang terakhir!!!, ya emang begitu, python hanya akan ngejalanin line terakhir untuk ditampilin, biar tampil semua maka kita print aja seperti di bawah ini:

In [ ]:
print(v1,'Tipe data v1:', type(v1))
print(v2,'Tipe data v2:', type(v2))
print(v3,'Tipe data v3:', type(v3))
print(v4,'Tipe data v4:', type(v4))
print(v5,'Tipe data v5:', type(v5))

angka Tipe data v1: <class 'str'>
12 Tipe data v2: <class 'int'>
1.4 Tipe data v3: <class 'float'>
True Tipe data v4: <class 'bool'>
(3+1j) Tipe data v5: <class 'complex'>

### Konversi Tipe Data

Capek gag sih, bikin data baru mulu untuk sebuah tipe data yang berbeda. Kalo capek ya udah, rehat dulu. Nah ada cara lain sih, yaitu dengan mengubah tipe data yang udah kita miliki menjadi tipe data yang kita inginkan. Kadang gag harus ganti kan, cukup komit untuk merubah hal-hal yang sudah ada sesuai keinginan kita. OK Lanjuut.

Intinya mah misal kita punya variabel tipenya int tapi kita butuh variabel itu jadi float ya kita bisa konversi, gimana caranya?

Pake fungsi donk, fungsinya macem-macem, tapi intinya adalah fungsinya bernama tipe data baru yang ingin kita buat kemudian inputnya adalah tipe data yang mau kita ubah. Begono.

Bingung?
Ini lho macam-macam fungsinya:

Fungsi untuk mengubah/konversi tipe data:

a. int() : untuk mengubah menjadi integer

b. float() : untuk mengubah menjadi float

c. str() : untuk mengubah menjadi string

d. bool() : untuk mengubah menjadi boolean

e. long() : untuk mengubah menjadi integer panjang

f. chr() : untuk mengubah menjadi karakter

g. bin() : untuk mengubah menjadi bilangan biner

h. hex() : untuk mengubah menjadi bilangan Heksadesimal

i. oct() : untuk mengubah menjadi bilangan okta

Contohnya, ini gan:

In [ ]:
number = 10
print("data =", number, ", type =", type(number))

data = 10 , type = <class 'int'>

In [ ]:
# Mengkonversi tipe data integer
kon_float = float(number)
kon_str = str(number)
kon_bool = bool(number) #False jika integer = 0, lainnya True (perhatikan hasilnya)

# Melihat data yang telah dikonversi
print("data = ", kon_float , ",type =", type(kon_float))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))

data =  11.67 ,type = <class 'float'>
data =  11.67 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

In [ ]:
#Lakukan Proses Konversi dengan kasus lainnya yaa
n = 11.67
print("data =", n, ", type =", type(n))
# Mengkonversi tipe data integer
k_int = int(n)
k_str = str(n)
k_bool = bool(n) #False jika integer = 0, lainnya True (perhatikan hasilnya)

# Melihat data yang telah dikonversi
print("data = ", k_int , ",type =", type(k_int))
print("data = ", k_str , ",type =", type(k_str))
print("data = ", k_bool , ",type =", type(k_bool))

data = 11.67 , type = <class 'float'>
data =  11 ,type = <class 'int'>
data =  11.67 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

## [2] Berbagai Struktur Data di Python

### List

List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

*Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.*

In [ ]:
a = [1, 2.2, 'python']
a

[1, 2.2, 'python']

In [ ]:
#Bikin versimu sendiri donk, jangan baca doank! heheheh
s1=[v1,v2,v3,v4,v5]
s1

['angka', 12, 1.4, True, (3+1j)]

Python mengenal slicing operator [] yang dapat melakukan ekstraksi sebuah item atau beberapa item yang berada dalam range tertentu pada tipe data urutan (sequences), misalnya list, string dan tuple. Beberapa tipe urutan juga mendukung "extended slicing" dengan parameter ketiga berupa "step".

* x[0] artinya mengambil elemen paling awal, dengan 

index 0 dari List x.

* x[5] artinya mengambil elemen dengan index 5 dari List x.

* x[-1] artinya mengambil elemen dengan index paling belakang ke-1 dari List x.

* x[3:5] artinya membuat list dari anggota elemen List x dengan index 3 hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 3-4).

* x[:5] artinya membuat list dari anggota elemen List x paling awal hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 0-4).

* x[-3:] artinya membuat list dari anggota elemen List x mulai index ke-3 dari belakang hingga paling belakang.

* x[1:7:2] artinya membuat list dari anggota elemen List x dengan index 1 hingga sebelum index 7, dengan "step" 2 (dalam hal ini hanya index 1, 3, 5).

In [ ]:
x = [5,10,15,20,25,30,35,40]
print(x[5])
print(x[-1])
print(x[3:5])
print(x[:5])
print(x[-3:])
print(x[1:7:2])

30
40
[20, 25]
[5, 10, 15, 20, 25]
[30, 35, 40]
[10, 20, 30]

In [ ]:
#Its your time to try
print(s1[3])
print(s1[-1])
print(s1[3:5])
print(s1[:5])
print(s1[-3:])
print(s1[1:3:2])

True
(3+1j)
[True, (3+1j)]
['angka', 12, 1.4, True, (3+1j)]
[1.4, True, (3+1j)]
[12]

Elemen pada list dapat diubah atau ditambahkan. Misalnya untuk melakukan perubahan kemudian penambahan:

In [ ]:
#Mengganti elemen
x = [1,2,3]
x[2]=4
print (x)

[1, 2, 4]

In [ ]:
#Menambah elemen
x = [1,2,3]
x[2]=4
x.append(5) #append artinya menambah
print(x)

[1, 2, 4, 5]

In [ ]:
#Coba versi kamu yaaa

y=[45,"angka",1.5,10]
y[3]="semuanya"
y.append(5)
print(y)

[45, 'angka', 1.5, 'semuanya', 5]

Untuk menghapus item pada list, gunakan fungsi del. Ingat bahwa Indeks Python dimulai dari 0:

In [ ]:
binatang = ['kucing', 'rusa', 'badak', 'gajah']
del binatang[2]
print(binatang)

['kucing', 'rusa', 'gajah']

In [ ]:
#Do it by yourself
del y[3]
print(y)

[45, 'angka', 1.5, 5]

Coba tambahkan kembali:

In [ ]:
del binatang [2]
print(binatang)

['kucing', 'rusa']

In [ ]:
#Cobain yaach!
binatang.append("elang")
print(binatang)

['kucing', 'rusa', 'elang']

Slicing pada String

Karena string mirip dengan list, maka slicing operator [ ]  juga dapat digunakan pada string untuk mengambil isinya atau bahkan substring. Sebuah string utuh bersifat mutable (bisa diubah), namun elemennya bersifat immutable (tidak bisa diubah).

In [ ]:
s = "Hello World!"
print(s[4]) 		#ambil karakter kelima dari string s
print(s[6:11]) 		#ambil karakter ketujuh hingga sebelas dari string s
s = "Halo Dunia!"	#ubah isi string s menjadi "Halo Dunia!", seharusnya berhasil karena mutable
print(s)

o
World
Halo Dunia!

In [ ]:
s[5]="d"        #ubah karakter keenam dari string s menjadi "d", seharusnya gagal karena immutable

TypeError: ignored

In [ ]:
#Cobain yaach!
nama = "muhammad rivaldi"
print(nama[4]) 		#ambil karakter kelima dari string s
print(nama[6:11]) 		#ambil karakter ketujuh hingga sebelas dari string s

m
ad ri

### Tuple

Tuple adalah jenis dari list yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
t = (5,'program', 1+3j)
t

Seperti list, kita dapat melakukan slicing, namun pada tuple kita tidak dapat melakukan perubahan:

In [ ]:
t = (5,'program', 1+3j)
print(t[1])
print(t[0:3])

In [ ]:
print(t[0]=10) #Kok gagal, kenapa hayoooooo

In [ ]:
a = (5, 6, 7,'aku')#bikin sendiri donk, kreatif dikit napa
print (a)
print(a[1])
del[]

(5, 6, 7, 'aku')
6

### Set

Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada Set kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [ ]:
a = {1,2,2,3,3,3}
print(a)

Karena set bersifat unordered, maka kita tidak bisa mengambil sebagian data / elemen datanya menggunakan proses slicing.

In [ ]:
a = {1,2,3}
print(a[1])

### Dictionary

Dictionary pada Python adalah kumpulan pasangan kunci-nilai (pair of key-value) yang bersifat tidak berurutan. Dictionary dapat digunakan untuk menyimpan data kecil hingga besar. Untuk mengakses datanya, kita harus mengetahui kuncinya (key). Pada Python, dictionary didefinisikan dengan kurawal dan tambahan definisi berikut:

1. Setiap elemen pair key-value dipisahkan dengan koma (,).
2. Key dan Value dipisahkan dengan titik dua (:).
3. Key dan Value dapat berupa tipe variabel/obyek apapun.

In [ ]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [ ]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

Dictionary bukan termasuk dalam implementasi urutan (sequences), sehingga tidak bisa dipanggil dengan urutan indeks. Misalnya dalam contoh berikut dicoba dengan indeks 2, tetapi menghasilkan error (KeyError) karena tidak ada kunci (key) 2:

In [ ]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [ ]:
# Generates error
print("d[2] = ", d[2]);

KeyError: ignored

In [ ]:
#bikin versimu sendiri yaaa
dik = {5:'angka','kunci':1}
print(type(dik))
print("dik[1] = ", dik[1]);
print("dik['key'] = ", dik['key']);

<class 'dict'>

KeyError: ignored

### Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:

a. list() : untuk mengubah menjadi list

b. tuple() : untuk mengubah menjadi tuple

c. set() : untuk mengubah menjadi set

d. dict() : untuk mengubah menjadi dictonary

Contoh:

In [ ]:
list1 = [1,2,3,4,5]
list2 = ["satu","dua","tiga","empat","lima"]
print("data = ", list1 , ",type =", type(list1))

In [ ]:
# Mengkonversi struktur data list
kon_tuple = tuple(list1)
kon_set = set(list1)
kon_dict = dict(zip(list2,list1))

# Melihat data yang telah dikonversi
print(kon_tuple)
print(kon_set)
print(kon_dict)

Nah sampai sini, coba kamu tulis pemahaman kamu tentang List, Tuple, Set, dan Dictionary, tulis pake bahasa kamu sendiri ya:

## [3] Operasi Matematika Pada Python

### **Operator Relasional**

Operator relasional adalah operator yang digunakan untuk membandingkan dua buah nilai. Hasil yang akan diperoleh dari operasi perbandingan ini adalah logika (bertipe bool), yaitu True (benar) atau False (salah).

In [ ]:
a = 2
b = 3
c = 10
d = 7

print("a==b",a==b)
print("a==c",a==c)
print("a!=b",a!=b)

print("a>d",a>d)
print("b<d",b<d)
print("b<=d",b<=d)
print("b>=d",b>=d)

a==b False
a==c False
a!=b True
a>d False
b<d True
b<=d True
b>=d False

In [ ]:
#Coba punyamu sendiri ya

### **Operasi Aritmatika**

Nah untuk ini, sebenernya udah pada bisa lah yaa, ya kayak matlab dan r lah, di piton bisa juga kok dipake buat ngitung-ngitung kayak kalkulator, cuma ya gitu, beda sintaksnya doank

Operator aritmatika adalah operator yang digunakan untuk melakukan perhitungan terhadap data numerik. Berikut merupakan operator aritmatika yang digunakan dalam python :

</b> Prioritas operator </b>
Setiap operator aritmatika memiliki prioritas yang berbeda. Sebagai contoh : 

</b> 3+5*7 </b>
Seperti yang diketahui, operator perkalian (*) memiliki prioritas yang lebih tinggi dibandingkan dengan operator penjumlahan (+) sehingga operasi dapat dituliskan sebagai berikut (3+(5*7)).

Untuk lebih jelasnya, tabel berikut memperlihatkan urutan prioritas dari operator aritmatika :

Berikut merupakan mindmap dari operasi aritmatika :

Perhatikan contoh dibawah :

In [ ]:
x = 5 + 2 * 3 / (2 - 3) ** 2
print(x)

11.0

In [ ]:
x = 10
y = 3

print("x=",x)
print("y=",y)

print("x+y=", (x+y))
print("x-y=", (x-y))
print("x*y=", (x*y))
print("x/y=", (x/y))
print("x//y=", (x//y))
print("x%y=", (x%y))
print("x**y=", (x**y))

In [ ]:
# TIPE DATA NUMBER
import math

# fungsi-fungsinya:
# fungsi absolut : abs(x)
# fungsi ceiling  : ceil(x)
# fungsi eksponensial : exp(x)
# fungsi logaritma : log(x) dan log10()
# fungsi maximal : max()
# fungsi minimal : min()
# fungsi pangkat : pow(x, y)
# fungsi round (pembulatan kebawah jika < 0.5) : round()
# fungsi kuadrat : sqrt()
# fungsi trigonometri : sin(), cos(), tan(), radians(), dll


# konstanta
print("pi = ", math.pi)
print("e = ", math.e)

# fungsi pangkat
print(math.pow(3, 2))

# fungsi akar kuadrat
print(math.sqrt(9))

# fungsi logaritma
print(math.log(9))

# fungsi trigonometri
print(math.sin(math.radians(90)))

# fungsi absolut
print(abs(-10))
print(abs(10))

# fungsi ceiling : untuk membulatkan kebawah
print(math.ceil(-5.25))
print(math.ceil(5.25))
print(math.ceil(5.75))

# fungsi eksponensial
print(math.exp(1))
print(math.exp(-1))

# fungsi lainnya dilanjutkan

# Fungsi khusus acak : biasa digunakan untuk aplikasi permainan, simulasi, pengujian, keamanan, dan privasi. diantaranya:
# fungsi choice untuk item acak dari list, tuple, atau string : choice(seq)
# fungsi randrange untuk elemen yang dipilih secara acak dari jangkauan : randrange([start,]stop[,step])
# fungsi random : random()
# fungsi untuk menetapkan nilai awal integer yang digunakan dalam menghasilkan bilangan acak. panggil fungsi ini sebelum memanggil fungsi modul acak lainnya. tidak ada pengembalian : seed([])
# fungsi floor untuk nilai dasar dari x, dan int terbesar tidak lebih besar dari x : floor()
# fungsi uniform untuk sebuah float acak r, sedemikian rupa sehingga x kurang dari atau sama dengan r dan r kurang dari y : uniform(x,y)

pi =  3.141592653589793
e =  2.718281828459045
9.0
3.0
2.1972245773362196
1.0
10
10
-5
6
6
2.718281828459045
0.36787944117144233

## [4] Membuat Fungsi Pada Python

Oke, udah faimiliar donk sama python.

Sekarang kita akan belajar bagaimana cara mendefinisikan suatu fungsi di dalam python

Tadi kan kamu bisa menggunakan fungsi print dengan menulis **print(var)**, nah sekarang kita mau bikin fungsi kamu sendiri

**fungsi_buatan_kamu(variabel_yang_kamu_inginkan)**

Menulis fungsi itu mudah

contohnya gini:

In [ ]:
def penjumlahan(x, y): 
    return x + y

penjumlahan(1, 2)

3

penjumlahan yang memungkinkan untuk tiga bilangan

In [ ]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

menyimpan hasil fungsi dalam variabel

In [ ]:
def penjumlahan(x,y):
    return x+y

a = penjumlahan
a(1,2)

3

## Percabangan/ Struktur Pemilihan

Berbeda dengan bahasa pemrograman lainnya, Python hanya memiliki satu statement untuk melakukan proses pemilihan, yaitu dengan menggunakan if. Untuk mempermudah pembahasan tentang statement if, pembahasan akan dibagi menjadi tiga kelompok :

 - Statement if untuk satu kasus
 - Statement if untuk dua kasus
 - Statement if untuk tiga kasus

### 1. Statement if untuk satu kasus

Bentuk umum penggunaan perintah if untuk satu kasus dalam Python adalah :

```python
if kondisi:
    statement1
    statement2
    ...
    
```
Pada bentuk diatas, statement1, statement2 dan seterusnya hanya akan dieksekusi jika kondisi yang didefinisikan dalam perintah If terpenuhi (bernilai True). Jika kondisi bernilai False, statement tersebut akan diabaikan oleh program.

Perhatikan contoh berikut :

In [ ]:
a = 6
b = 6

if a==b:
    print("terkesekusi")
    print("Tes")
    
print("Halo")

### 2. Statement if untuk dua kasus

Untuk pemilihan yang mengandung dua kasus, bentuk umum yang digunakan adalah : 

```python
if kondisi :
    statement1
    statement2
    ...
else 
    statement_alternatif1
    statement_alternatif2
    ...
```

Pada bentuk ini, jika kondisi bernilai True makan statement selanjutnya yang akan dieksekusi oleh program adalah statement1, stetement 2 dan seterusnya. Tapi jika kondisi bernilai False, maka program akan mengeksekusi statement yang berada pada bagian else, yaitu statement_alternatif1, statement_alternatif2 dan seterusnya. 

Perhatikan contoh dibawah :

In [ ]:
a = 5
b = 5

if a==b:
    print("a dan b bernilai sama")
else:
    print("a dan b bernilai berbeda")
    print("Halo")

In [ ]:
# read two numbers
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))

# choose the larger number
if number1 > number2:
    largerNumber = number1
else:
    largerNumber = number2

# print the result
print("The larger number is:", largerNumber)

**Projek 1**

Program mengecek Bilangan bulat atau ganjil

In [ ]:
#Buat programmu di sini

## Looping/Perulangan

Python menyediakan dua statement untuk melakukan proses perulangan yaitu for dan while. Diantara kedua statement ini, secara umum for lebih banyak digunakan daripada while. 

### 1. Statement while

Sama seperti kebanyakan bahasa pemrograman lainnya, Python juga mendukung statement while untuk melakukan perulangan satu atau sekelompok statement. Bentuk umum dari perulangan while adalah sebagai berikut : 

```python
while kondisi:
    statement1
    statement2
    statement1
    :
    :
    statementn
```
Pada bentuk perulangan diatas, statement1, statement2 dan seterusnya merupakan sekelompok statement yang akan diulang. Statement tersebut akan terus dieksekusi/ diulang selama kondisi bernilai True. Maka diperlukan sebuah statement yang akan bernilai False, agar proses dapat berhenti. Perhatikan syntax berikut :

In [ ]:
i = 1
while i<10:
    print(i**2)
    i = i+2

Ketika i bernilai 10, maka proses akan terhenti karena nilai i = 10, maka proses akan berhenti .
Perhatikan contoh dibawah ini:

In [ ]:
# we will store the current largest number here
largestNumber = -999999999

# input the first value
number = int(input("Enter a number or type -1 to stop: "))

# if the number is not equal to -1, we will continue
while number != -1:
    # is number larger than largestNumber?
    if number > largestNumber:
        # yes, update largestNumber
        largestNumber = number
    # input the next number
    number = int(input("Enter a number or type -1 to stop: "))

# print the largest number
print("The largest number is:", largestNumber)

Perhatikan contoh program untuk menghitung berapa ganjil dan genap dari rangkaian bilangan :

In [ ]:
# program that reads a sequence of numbers
# and counts how many numbers are even and how many are odd
# program terminates when zero is entered

oddNumbers = 0
evenNumbers = 0

# read the first number
number = int(input("Enter a number or type 0 to stop: "))

# 0 terminates execution
while number != 0:
    # check if the number is odd
    if number % 2 == 1:
        # increase the oddNumbers counter
        oddNumbers += 1
    else:
        # increase the evenNumbers counter
        evenNumbers += 1
    # read the next number
    number = int(input("Enter a number or type 0 to stop: "))

# print results
print("Odd numbers count:", oddNumbers)
print("Even numbers count:", evenNumbers)

## DataFrame

## Mengakses file csv, xls, dll menggunakan python